<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
       <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Temperatura</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">tempo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">previsão do tempo
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/murillomasson">github
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.linkedin.com/in/murillomasson/">linkedin
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link active" href="/loginuser">login
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link active" href="/registeruser">cadastro
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row align-items-high">
            <div class="col-lg-13">
                <div class=" text-center">
					<h5></h5>
					<h1>previsão do tempo</h1>
					<div class="text-info">
					<p>desenvolvido por: <b>Murillo Masson</b></p>
					</div>
					<meta charset="utf-8">
					<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
					<div class = "background">
						<div class ="heading">
							<img src="{% static '/images/clouds.png' %}" class="image py-4" style="width:100px">
						</div>
							<h3><strong>acesse</strong></h3>
						</div>
						<div class = "center">
						</div>
						<div class= "container">
							<form method ="POST">
								{% csrf_token %}
								<div class="d-flex flex-column align-items-center pt-0 py-4">
									<div>
										<label for = "username" >usuário</label>
										<input type = "text" name = "username" class = "form-control" id = "username" required>
									</div>
									<div>
										<label for = "password" >senha</label>
										<input type = "password" name = "password" class = "form-control" id = "password" required>
								{% if error %}
										<div class="text-danger">
								<span class="closebtn"><i>usuário ou senha incorretos</i></span>
										</div>
								{% endif %}
									</div>
									</div>
								<button type = "submit" class = "btn1">entrar</button>
							</form>
						</div>
						<hr>
						<div class = "text-center">
							<small>Não tem uma conta? </small><a href = "{% url 'register_user' %}" class = "text-info"><b>Cadastre-se!</b></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<h5></h5>
<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
	close[i].onclick = function(){
		var div = this.parentElement;
		div.style.opacity = "0";
		setTimeout(function(){ div.style.display = "none"; }, 600);
	}
}
</script>
</html>