<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
       <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Temperatura</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">tempo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">previsão do tempo
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://github.com/murillomasson">github
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.linkedin.com/in/murillomasson/">linkedin
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link active" href="/loginuser">login
                    </a>
                </li>
				                <li class="nav-item">
                    <a class="nav-link active" href="/registeruser">cadastro
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row align-items-high">
            <div class="col-lg-13">
                <div class=" text-center">
					<h5></h5>
					<h1>previsão do tempo</h1>
					<div class="text-info">
					<p>desenvolvido por: <b>Murillo Masson</b></p>
					</div>
					<meta charset="utf-8">
					<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
					<div class = "background">
						<div class ="heading">
							<img src="{% static '/images/clouds.png' %}" class="image py-4" style="width:100px">
						</div>
							<h3><strong>Cadastre-se</strong></h3>
						</div>
						<div class = "center">
						</div>
						<div class= "container">
							<form method = "POST">
								{% csrf_token %}
								<div class="d-flex flex-column align-items-center pt-0 py-4">
									<div>
										<label for="username">usuário</label>
										<input type="text" name="username" class="form-control" id ="username" required>
									</div>
									<div>
										<label for="email">Email</label>
										<input type="email" name = "email" class ="form-control" id = "email" required>
									</div>
									<div>
										<label for="password1">Password</label>
										<input type="password" name = "password1" class ="form-control" id = "password1" required>
									</div>
									<div>
										<label for="password2">Confirm Password</label>
										<input type="password" name = "password2" class ="form-control" id = "password2" required>
										<p></p>
										<button type="submit" class="bt1">cadastre-se</button>
									</div>
								</div>
							</form>
							<hr>
							<div class = "text-center">
								<small>já tem uma conta? </small><a href = "{% url 'login_user' %}" class = "text-info"><b>Acesse!</b></a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script>
var close = document.getElementsByClassName("closebtn");
var i;
for (i = 0; i < close.length; i++) {
	close[i].onclick = function(){
		var div = this.parentElement;
		div.style.opacity = "0";
		setTimeout(function(){ div.style.display = "none"; }, 600);
	}
}
</script>
</html>